* {
	margin:0;
	padding:0;
}

body {
	font-size:1rem;
	line-height:1.5rem;
	font-family:sans-serif;
	background:#efefef;
}

p {
	text-align:center;
	margin-bottom:1rem;
	font-size: 2rem;
	font-weight:bold;
}

#wrapper {
	width:100%;
	margin:2rem;
	max-width:80rem;
}

label,
input,
textarea {
	display:block;
	height:1.5rem;
	line-height:1.5rem;
	font-family:sans-serif;
	font-size:1.1rem;
	width: 25%;
	float:left;
}

#id_action_data {
	width: 65%;
	height: 25rem;
	float:none;
	font-size: 0.9rem;
	line-height:1rem;
}

#id_action_desc {
	width: 65%;
	height: 3rem;
	line-height:1.5rem;
	float:none;
}

#error1{
	color: red;
	display: none;
}

label {
	width:10rem;
	text-align:right;
	padding-right:.5rem;
}

input,
textarea {
	padding:0 .25rem;
}

label::after {
	content:" ";
}

.formElement {
	margin-bottom:.5rem;
	text-align:left;
}


textarea {
	height:3rem;
}

.submit {
	height:2.2rem;
	line-height:1.8rem;
	font-size:1rem;
	color:#fff;
	background:#89C33F;
	margin:2rem 0 2rem 14%;
	width:15%;
	float:left;
	border:1px solid #798f5d;
	border-radius:.15rem;
	cursor: pointer;
	transition: background .5s ease-out;
}

.submit:hover {
	background: #96d644;
}

#cancel {
	background:#595959;
}

#cancel:hover {
	background: #797979;
}

.fix {
	clear:both
}
