<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<ul>
  <li><a href="/">Home</a></li>
 <!--  <li><a href="/addcustomaction">ADD ACTION</a></li>
  <li><a class="active" href="/addcustomfilter">ADD FILTER</a></li>   -->
  <li><a href="/managecustomactions">MANAGE ACTIONS</a></li>
  <li><a href="/managecustomfilters">MANAGE FILTERS</a></li>
    <li><a href="/managejails">MANAGE JAILS</a></li>
  <li><a href="/managehosts">MANAGE HOSTS</a></li>
  <li style="float:right"><a href="/logout">LOG OUT</a></li>
  </ul>
<form method="post" action="" onSubmit="">
{% csrf_token %}
{{form}}
<div>
	<input type="submit" value="Save Changes" />
</div>
</form>
</body>
</html>